<div id="widget-mensajes">
  <div class="row">
    <div class="col-4">
      <p style="text-align: center;">{{contenido.envia}}</p>
      <hr>
      <ul *ngFor="let usuario of usuarios" class="list-group" (click)="onItemClick($event, usuario.email)">
        <li class="list-group-item">{{ usuario.email }}</li>
      </ul>
    </div>
    <div class="col-8">
      <div class="card" id="conversacion" style="height: 600px;">
        <p style="text-align: center;">{{destinatario}}</p><hr>
        <div *ngFor="let mensaje of mensajes">
          <p>{{mensaje.envia}}: {{mensaje.message}}</p>
        </div>
      </div><br>
      <div class="row">
        <div class="col-10">
          <input [(ngModel)]="contenido.message" type="text" class="form-control" id="message" placeholder="Your message">
        </div>
        <div class="col-2">
          <button type="button" (click)="sendMessage()" class="btn btn-primary btn-block">
            Send
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
